{% extends 'e_commerce_app/base.html'%}

{% block content%}
  <div class="flex items-center justify-center mx-auto mt-48 ">
    <div class="flex flex-col">
      <form method="post" action="" class="flex flex-col items-center justify-center mx-auto">
        {% csrf_token %}
        <div class="">
          <label>First Name
            <input type="text" name="firstname"/>
          </label>
          <label>Last Name
            <input type="text" name="lastname"/>
          </label>
        </div>
        <label class="grow w-full flex flex-row">Username
          <input name="username" type="text" class="w-full"/>
        </label>
        <label class="grow w-full flex flex-row">Email
          <input name="email" type="email"/>
        </label>
        <label class="grow w-full flex flex-row">Password
          <input name="password" type="password"/>
        </label>
        <button type="buttton "class="btn bg-red-400 ">Submit</button>
      </form>
      
      <p>Already have an account? <a href="{%url 'login'%}">Sign In</p>
    </div>
  </div>
{% endblock%}